@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/*Header--STYLE*/
/*.header-style-one {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/
/*.main-header {*/
/*    position: relative;*/
/*    left: 0;*/
/*    top: 0;*/
/*    right: 0;*/
/*    z-index: 999;*/
/*    width: 100%;*/
/*    transition: all 500ms ease;*/
/*    -moz-transition: all 500ms ease;*/
/*    -webkit-transition: all 500ms ease;*/
/*    -ms-transition: all 500ms ease;*/
/*    -o-transition: all 500ms ease;*/
/*}*/
/*.main-header .outer-box {*/
/*    position: relative;*/
/*}*/
/*.main-header .outer-box {*/
/*    position: relative;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/
/*.menu-area .mobile-nav-toggler {*/
/*    position: relative;*/
/*    float: right;*/
/*    font-size: 40px;*/
/*    line-height: 50px;*/
/*    cursor: pointer;*/
/*    background: var(--theme-color);*/
/*    display: none;*/
/*}*/
/*.menu-area .mobile-nav-toggler .icon-bar {*/
/*    position: relative;*/
/*    height: 2px;*/
/*    width: 30px;*/
/*    display: block;*/
/*    margin-bottom: 5px;*/
/*    background-color: #fff;*/
/*    -webkit-transition: all 300ms ease;*/
/*    -moz-transition: all 300ms ease;*/
/*    -ms-transition: all 300ms ease;*/
/*    -o-transition: all 300ms ease;*/
/*    transition: all 300ms ease;*/
/*}*/
/*.main-menu {*/
/*    float: left;*/
/*}*/
/*.main-menu .navbar-collapse {*/
/*    padding: 0;*/
/*    display: block !important;*/
/*}*/
/*.clearfix::after {*/
/*    display: block;*/
/*    clear: both;*/
/*    content: "";*/
/*}*/
/*.main-menu .navigation {*/
/*    margin: 0;*/
/*}*/
/*.main-menu .navigation>li {*/
/*    position: inherit;*/
/*    float: left;*/
/*    z-index: 2;*/
/*    margin: 0 20px;*/
/*    -webkit-transition: all 300ms ease;*/
/*    -moz-transition: all 300ms ease;*/
/*    -ms-transition: all 300ms ease;*/
/*    -o-transition: all 300ms ease;*/
/*    transition: all 300ms ease;*/
/*}*/
/*.main-menu .navigation>li>a {*/
/*    position: relative;*/
/*    display: block;*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    line-height: 30px;*/
/*    padding-top: 35px;*/
/*    padding-bottom: 35px;*/
/*    font-weight: 500;*/
/*    opacity: 1;*/
/*    color: #111;*/
/*    z-index: 1;*/
/*    -webkit-transition: all 500ms ease;*/
/*    -moz-transition: all 500ms ease;*/
/*    -ms-transition: all 500ms ease;*/
/*    -o-transition: all 500ms ease;*/
/*    transition: all 500ms ease;*/
/*}*/
/*.main-menu .navigation li.dropdown .dropdown-btn {*/
/*    position: absolute;*/
/*    right: -32px;*/
/*    top: 66px;*/
/*    width: 34px;*/
/*    height: 30px;*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    line-height: 26px;*/
/*    color: #3b3b3b;*/
/*    cursor: pointer;*/
/*    display: none;*/
/*    z-index: 5;*/
/*    transition: all 500ms ease;*/
/*}*/
/*.sticky-header {*/
/*    position: fixed;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    z-index: 0;*/
/*    background-color: #fff;*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.10);*/
/*    transition: all 500ms ease;*/
/*    -moz-transition: all 500ms ease;*/
/*    -webkit-transition: all 500ms ease;*/
/*    -ms-transition: all 500ms ease;*/
/*    -o-transition: all 500ms ease;*/
/*}*/
/*.main-header .outer-box {*/
/*    position: relative;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*Key Features--STYLE*/
.features-block {
    padding: 0 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.features-block-one {
    margin-top: 35px
}

.features-block-one .inner-box {
    position: relative;
    display: block;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 10px;
    padding: 0 40px 40px 40px;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.05);
    transition: all 500ms ease
}

.features-block-one .inner-box:hover {
    transform: translateY(-10px)
}

.features-block-one .inner-box .icon-box {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 35px;
    color: #fff;
    background: #B47AFF;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: -30px;
    top: -5px
}

.features-block:nth-child(2) .features-block-one .inner-box .icon-box {
    background: #37BB7D
}

.features-block:nth-child(3) .features-block-one .inner-box .icon-box {
    background: #FA8747
}

.features-block:nth-child(4) .features-block-one .inner-box .icon-box {
    background: #FF6A6A
}

.features-block:nth-child(5) .features-block-one .inner-box .icon-box {
    background: #02CECE
}

.features-block:nth-child(6) .features-block-one .inner-box .icon-box {
    background: #fff644
}

.features-block:nth-child(7) .features-block-one .inner-box .icon-box {
    background: #d976ff
}

.features-block:last-child .features-block-one .inner-box .icon-box {
    background: #7E69FF
}

.features-block-one .inner-box h3 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 32px;
    color: #494d61;
    font-weight: 600;
    margin-bottom: 15px
}

.features-block-one .inner-box h3:hover {
    color: #3F94FD;
}

.features-block-one .inner-box h3 a {
    display: inline-block;
    color: #111
}

.features-style-two {
    position: relative
}

.features-style-two .features-block-one .inner-box {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.05)
}

.features-style-two .features-block-one .inner-box h3 a {
    color: #fff
}

.features-style-two .features-block-one .inner-box p {
    color: #A9A7B0
}

.features-style-two .pattern-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7
}

@media only screen and (max-width: 767px) {
    .features-section {
        padding-bottom:40px
    }

    .features-style-two {
        padding: 70px 0 40px 0
    }

    .features-section.features-page {
        padding-top: 70px
    }
}


/*FAQ--STYLE*/
.grid {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.grid.faq-wrap {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
}
.faq-item {
    background-color: #ffffff;
    text-align: left;
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 20px 30px;
    box-shadow: 0 6px 10px rgba(19, 17, 33, .02);
}

.faq-question {
    color: var(--black-primary);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.faq-icon {
    border: 2px solid #ecebf0;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    display: flex;
}

.icon-16px {
    border-radius: 0;
    justify-content: center;
    align-items: center;
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-bottom: 0;
    display: flex;
}

.faq-icon-bar {
    background-color: #3482f0;
    border-radius: 100px;
    width: 12px;
    height: 2px;
    position: absolute;
}

.faq-icon-bar.ver {
    transform: rotate(90deg);
}

.faq-answer {
    overflow: hidden;
    transition: height 0.3s ease;
}

.faq-answer-text {
    font-size: 16px;
    color: #212121;
    margin: 12px 0 0;
    padding-right: 40px;
}

.faq-style-two {
    background-image: url(/images/overlay-3.png);
}

.faq-section {
    position: relative;
    z-index: 1
}

.sub-title {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #3f94fd;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 5px 25px;
    margin-bottom: 10px;
    background: rgb(63 148 253 / 0.05);
    border: 1px solid rgb(63 148 253 / 0.2);
}

.sec-title h2 {
    position: relative;
    display: block;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.accordion {
    position: relative;
    border: 1px solid rgba(255,255,255,0.07);
    border-radius: 5px;
    margin-bottom: 10px
}

.accordion:last-child {
    margin-bottom: 0
}

.accordion.active-block {
    background: rgba(255,255,255,0.07);
    border-color: transparent
}

.acc-btn {
    position: relative;
    padding: 21px 80px 21px 30px;
    cursor: pointer
}

.acc-btn h5 {
    font-size: 18px;
    line-height: 28px;
    color: #0d0d0d;
    font-weight: 500
}

.acc-content {
    padding: 4px 60px 35px 30px
}

.acc-content p {
    color: #A9A7B0
}

.acc-btn .icon-box {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #1E1E1E;
    text-align: center;
    border-radius: 50%;
    color: #fff
}

.acc-btn.active .icon-box {
    color: #020202
}

.acc-btn .icon-box:before {
    position: absolute;
    content: '\e907';
    font-family: 'icomoon';
    font-size: 14px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center
}

.acc-btn.active .icon-box:before {
    content: '\e908';
    font-size: 2px
}

.content_block_two .content-box {
    position: relative;
    display: block
}

.faq-style-two {
    position: relative
}

.faq-style-two .inner-box {
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto
}

.image_block_four .image-box {
    position: relative;
    display: block;
    padding-bottom: 76px;
    padding-right: 44px
}

.image_block_four .image-box .image-1 {
    position: relative;
    display: block;
    border-radius: 10px
}

.image_block_four .image-box .image-1 img {
    width: 100%;
    border-radius: 10px
}

.image_block_four .image-box .image-2 {
    position: absolute;
    right: -30px;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 0 28.15909194946289px 52.29545593261719px 0 rgba(0,0,0,0.05)
}

.image_block_four .image-box .image-2 img {
    width: 100%;
    border-radius: 8px
}

.image_block_four .image-box .flag-list {
    position: absolute;
    left: 0;
    top: 56px
}

.image_block_four .image-box .flag-list li {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px
}

.image_block_four .image-box .flag-list li:last-child {
    margin-bottom: 0
}

.image_block_four .image-box .flag-list li img {
    width: 100%;
    border-radius: 50%
}

.content_block_five .content-box {
    position: relative;
    display: block
}

.content_block_five .content-box .accordion {
    background: #FAFAFB;
    border-radius: 5px
}

.content_block_five .content-box .accordion .acc-btn h5 {
    color: #111
}

.content_block_five .content-box .accordion .acc-content p {
    color: #6A6A6A
}

.content_block_five .content-box .accordion .acc-btn .icon-box {
    background: transparent;
    border: 1px solid #111;
    color: #111
}

.content_block_five .content-box .accordion .acc-btn.active .icon-box {
    color: #fff
}

.faq-section.home-6.faq-dark-section .accordion {
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    margin-bottom: 10px
}

.faq-section.home-6.faq-dark-section .accordion:last-child {
    margin-bottom: 0
}

.faq-section.home-6.faq-dark-section .accordion .acc-btn {
    padding-left: 30px
}

.faq-section.home-6.faq-dark-section .accordion-box .block .acc-content {
    padding-left: 30px
}

.faq-section.home-6.faq-dark-section .accordion .acc-btn .icon-box {
    border: 1px solid #D7D7D7
}

.faq-section.home-6.faq-dark-section .accordion .acc-btn.active .icon-box {
    color: #fff
}

.faq-section.home-6.faq-dark-section .video-inner {
    border-radius: 10px
}

.faq-style-two.home-7.faq-dark-section .accordion {
    border: 1px solid #D7D7D7;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px
}

.faq-style-two.home-7.faq-dark-section .accordion:last-child {
    margin-bottom: 0
}

.faq-style-two.home-7.faq-dark-section .accordion .acc-btn {
    padding-left: 30px
}

.faq-style-two.home-7.faq-dark-section .accordion-box .block .acc-content {
    padding-left: 30px
}

.faq-style-two.home-7.faq-dark-section .accordion .acc-btn .icon-box {
    border: 1px solid #111
}

.faq-section.pricing-page-two .video-inner {
    border-radius: 10px
}

.faq-style-two.home-2 .accordion .acc-btn .icon-box {
    right: 0
}

.rtl .content_block_two .content-box {
    margin-right: 0;
    margin-left: 80px
}

.rtl .content_block_five .content-box {
    margin-right: 80px;
    margin-left: 0
}

@media only screen and (max-width: 991px) {
    .content_block_two .content-box {
        margin:0 0 30px 0!important
    }

    .image_block_four .image-box {
        margin-bottom: 30px
    }

    .image_block_four .image-box .image-2 {
        right: 0
    }

    .content_block_five .content-box {
        margin-left: 0
    }

    .rtl .content_block_five .content-box {
        margin-right: 0
    }
}

@media only screen and (max-width: 767px) {
    .faq-section {
        padding-bottom:70px
    }

    .faq-style-two {
        padding: 40px 0 70px 0
    }

    .faq-style-three {
        padding-bottom: 70px
    }

    .faq-style-two.home-7.faq-dark-section {
        padding-top: 0
    }

    .faq-section.pricing-page-two {
        padding-top: 70px
    }

    .faq-section.pricing-page-two .content_block_five .content-box {
        margin-bottom: 30px
    }
}

@media only screen and (max-width: 499px) {
    .image_block_four .image-box {
        padding-right:0;
        padding-bottom: 0
    }

    .image_block_four .image-box .image-2 {
        position: relative;
        margin-top: 30px
    }
}

/*CTA--STYLE*/
.cta-style-two {
    position: relative;
}
.cta-style-two:before {
    position: absolute;
    content: '';
    background: #020202;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
}
.cta-style-two h2 {
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    font-weight: 600;
    margin-bottom: 10px;
    transition: all 500ms ease;
}
.cta-style-two p {
    position: relative;
    color: #6a6a6a;
    font-weight: 400;
    margin: 0;
    transition: all 500ms ease;
}
.cta-style-two .inner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 70px 70px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
}
.cta-style-two .inner-container .shape {
    background-image: url("/images/bg/shape.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cta-style-two h2 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
}
