/* ScrollToTopButton ---start */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(255, 100, 45);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: rgba(255, 100, 45, 0.84);
}

/* ScrollToTopButton ---start */


/* HeaderSection ---start */
.chatpdfai-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 可能需要根据页面需求调整 */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent; /* 初始状态透明背景 */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.chatpdfai-header.scrolled {
    background-color: #ffffff; /* 滚动时的白色背景 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

.chatpdfai-header > .container >.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chatpdfai-header .logo {

}

.chatpdfai-header .logo span {
    font-size: 30px;
}

.chatpdfai-header .menu {
    display: flex;
    flex-direction: row;
}

.chatpdfai-header .menu .menu-item {
    margin-right: 15px;
}

.chatpdfai-header .menu .menu-item ul {
    display: flex;
    flex-direction: row;
}

.chatpdfai-header .menu .menu-item ul li {
    color: #000000;
    font-size: 15px;
    padding: 0 15px;
}

.chatpdfai-header .menu .menu-item ul li a{
    display: flex;
    flex-direction: row;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.chatpdfai-header .menu .menu-item ul li span{
    display: flex;
    flex-direction: row;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.chatpdfai-header .menu-button-style {
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-weight: 600;
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 10px;
    text-transform: none;
    text-decoration: none;
    background-color: #ff8f20;
    border: 1px solid #ff8f20;
}

.chatpdfai-header .menu-button-style:hover {
    background-color: #ec861f;
}

.chatpdfai-header .menuItem {
    position: relative;
    list-style: none;
}

.chatpdfai-header .menuLink {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatpdfai-header .menuLink > span:first-child {
    margin-right: 5px;
}

.chatpdfai-header .arrowIcon {
    margin-left: 5px;
    font-size: 10px;
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.chatpdfai-header .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px 0;
}

.chatpdfai-header .menuLink:hover .submenu {
    display: block;
}

/* HeaderSection ---end */


/*HeaderSection*/
/*.pdfaiheader {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    padding: 20px 0;*/
/*    background-color: transparent;*/
/*    transition: background-color 0.3s ease, box-shadow 0.3s ease;*/
/*    z-index: 1000;*/
/*}*/

/*.pdfaiheader.scrolled {*/
/*    background-color: white;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.pdfaiheader .row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.logo {*/
/*    flex: 1;*/
/*}*/

/*.menu {*/
/*    flex: 2;*/
/*    text-align: center;*/
/*}*/

/*.menu ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.menu ul li {*/
/*    display: inline-block;*/
/*    margin: 0 10px;*/
/*}*/

/*.button {*/
/*    flex: 1;*/
/*    text-align: right;*/
/*}*/

/*.menu-item {*/
/*    position: relative;*/
/*    list-style: none;*/
/*    margin-right: 20px; !* 调整菜单项之间的间距 *!*/
/*}*/

/*.menu-link {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*    padding: 10px;*/
/*    font-weight: 600;*/
/*    font-size: 16px;*/
/*}*/

/*.menu-link span svg {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/

/*.menu-link:hover {*/
/*    color: #ff1d1d;*/
/*}*/

/*.arrow-icon {*/
/*    margin-left: auto; !* 将箭头符号放到菜单项的最右侧 *!*/
/*}*/

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 250px;
    border-radius: 5px;
    border-top: 2px solid #ff1d1d;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.10);
}

.submenu.expanded {
    display: flex;
    /* display: block; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;

}

.submenu li {
    padding: 10px;
}

.submenu li a:hover {
    padding-left: 10px;
    color: #ff1d1d;
}


/*BannerSection*/
.pdfai-header {
    padding-top: 180px;
    padding-bottom: 360px;
    /*background: linear-gradient(180deg, rgb(122 255 126 / 12%) 0, rgb(255 255 255 / 4%) 100%);*/
    /*background-image: url('/images/bg/bannersection-bg.png');*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.pdfai-header-background-overlay {
    background-image: url('/images/bg/bannersection-bg.png');
    background-position: center center;
    opacity: 0.8;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 1354px;
    height: 1588px;
    background-repeat: no-repeat;
}

.sub-title {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 6px 25px;
    margin-bottom: 15px;
    border: 1px solid #3f94fd;
}

.theme_btn {
    color: #ffffff;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    text-transform: capitalize;
    border: 1px solid #3f3eed;
    border-radius: 0.5rem;
    background-color: #3f3eed;
}

.pdfai-video {
    margin-top: -300px;
    padding-bottom: 50px;
}

.pdfai-video-description-iconbox {
    display: flex;
    margin: 15px;
    padding: 30px;
    box-shadow: 0 2px 10px 0 rgba(22, 85, 197, .20);
    border-radius: 10px;
    background-color: #fff;
    flex-direction: column;
}

.equal-height {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

.pdfai-video-description-iconbox .icon {
    z-index: 1;
    width: 3.75rem;
    height: 3.75rem;
    font-size: 1.25rem;
    border-radius: 0.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(33, 90, 231, .3);
    margin-bottom: 1.5rem;
}

.title_20 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #293a51;
    display: block;
    margin-bottom: 15px;
}

.overline-title {
    font-size: 0.875rem;
    line-height: 1rem;
    display: inline-block;
    letter-spacing: 0.04rem;
    color: #3f94fd;
    border: 1px solid #3f94fd;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 7px 25px;
    margin-bottom: 12px;
}

.section_title .title {
    color: #494d6e;
    font-size: 42px;
    line-height: 46px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 800px;
}

.section_title .title2 {
    color: #494d6e;
    font-size: 34px;
    line-height: 46px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 800px;
}

.section_title .lead {
    color: #6d7c90;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
}

.gradient-border {
    color: #374151;
    padding: 7px 50px 7px 30px;
    width: auto;
    margin: 0 10px;
    border-radius: 40px;
    border: 2px solid rgba(63, 62, 237, 0.2);
}


.elementor-motion-effects-container > .elementor-motion-effects-layer {

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.scrolling-wrapper {
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-content {
    animation: scroll linear infinite;
}

.paused {
    animation-play-state: paused;
}

.use-Cases-text-box h3 {
    position: relative;
    display: block;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.use-cases-list-box li {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #6b7989;
    margin-bottom: 15px;
    transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.use-cases-icon {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f1f3fa;
    color: #3f94fd;
    margin-right: 10px;
}


/*FAQ*/
.pdfai-faq {
    background-image: url(/images/bg/overlay-3.png);
}

.faq-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.accordion {
    background-color: transparent;
    border-bottom: 1px solid #dce3ed;
    padding: 25px 10px;
    margin-bottom: 0;
}

.accordion:last-child {
    border-bottom-width: 0;
}

.accordion .question {
    cursor: pointer;
}

.accordion.active-block:last-child {
    border-bottom-width: 0;
}

.accordion.active-block {
    background: rgba(255, 255, 255, 0.07);
    border-color: transparent;
    border-bottom: 1px solid #dce3ed;
}

.accordion .question .question_box {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_no_a_18 {
    font-size: 18px;
    line-height: 26px;
    color: #293a51;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.accordion .question.active .question_box .title_no_a_18 {
    color: #3f94fd;
    font-weight: bolder;
}

.accordion .question .question_box .title_no_a_18 {
    color: #6b7989;
    font-weight: bolder;
}

.accordion .accordion-content {
    font-size: 15px;
    line-height: 25px;
    padding-right: 25px;
    color: #6b7989;
    padding-top: 15px;
}

/*TESTIMONIAL*/
.testimonialsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.testimonialCard {
    flex-basis: calc(33.33% - 30px);
    max-width: 400px;
    margin: 15px;
    border-radius: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #3f94fd20;
    box-shadow: 0px 4px 12px 0px rgba(63, 62, 237, 0.1);
}

.testimonialCard-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px 0;
}


.testimonialCard-top .img-icon {
    width: 60px;
    flex: 0 0 auto;
    margin-right: 20px;
}

.testimonialCard-top .img-icon img {
    border: 2px solid #3f94fd;
    border-radius: 50%;
}

.testimonialCard-top .name h5 {
    font-size: 18px;
    line-height: 10px;
    font-weight: 700;
    color: #293a51;
    margin-bottom: 10px;
}

.testimonialCard-top .name p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: #293a51;
}

.testimonialCard-bottom .text {
    color: #474c56;
    font-size: 16px;
    line-height: 25px;
    padding: 0 15px;
    margin-bottom: 25px;
}

.testimonialCard-bottom {
    margin-top: 20px;
}

.testimonialCard-bottom .tags {
    color: #3fa1fd;
    font-size: 16px;
    padding: 0 15px 10px;
}

.testimonialCard-bottom .tags p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonialCard-bottom .tags p span {
    margin-right: 10px;
    text-transform: capitalize;
}

.testimonialCard .stars {
    padding: 0 13px;
    color: #ffd700;
    font-size: 25px;
}

.avatar {
    border-radius: 50%;
}

.title {
    font-size: 0.9em;
    color: #666;
}


.testimonial-item-two {
    position: relative;
    z-index: 1;
    padding: 30px 35px 35px;
    margin-bottom: 40px;
}

.testimonial-shape-two {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.testimonial-shape-two svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
    box-shadow: 0px 0px 0 3px #3f3eed;
}

.testimonial-shape-two svg path {
    color: #ffffff;
}

.testimonial-item-two .testimonial-avatar {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

.testimonial-item-two .testi-avatar-img {
    width: 60px;
    flex: 0 0 auto;
    margin-right: 20px;
}

.testimonial-item-two .testi-avatar-img img {
    border-radius: 50%;
}


.testimonial-item-two .testi-avatar-info .title {
    font-size: 17px;
    font-weight: bold;
    color: #160042;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.testimonial-content-two p {
    margin-bottom: 20px;
    color: #474c56;
}

.testimonial-content-two .rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.testimonial-content-two .rating svg {
    width: 22px;
    color: #ffaa4a;
}

/*CAT*/
.pdfai-cat {
    position: relative;
}

.pdfai-cat:before {
    position: absolute;
    content: '';
    background: #020202;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
}

.pdfai-cat .inner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9ff;
    padding: 60px 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
}

.pdfai-cat .catshape {
    background-image: url("/images/bg/shape.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.pdfai-cat .catcontents {
    z-index: 2;
}

.pdfai-cat .catcontents .overlinetitle {
    padding: 0;
    font-size: 0.875rem;
    line-height: 1rem;
    display: inline-block;
    letter-spacing: 0.04rem;
    color: #3f94fd;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding-bottom: 12px;
}

.pdfai-cat .catcontents .cattitle {
    color: #494d6e;
    font-size: 42px;
    line-height: 46px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 900px;
}

.pdfai-cat .cat-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f1f3fa;
    color: #55B59E;
    margin-right: 5px;
}


/**/
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.process-section {
    position: relative
}

.processing-block-one .inner-box {
    position: relative;
    display: block;
    margin-bottom: 60px
}

.processing-block-one .inner-box .count-text {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 28px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center
}

.processing-block-one .inner-box h5 {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.07);
    margin-bottom: 25px
}

.light-home .processing-block-one .inner-box h5 {
    color: #fff
}

.light-home .processing-block-one .inner-box p {
    color: #A9A7B0;
    max-width: 355px
}

.process-section .more-btn a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    border-radius: 5px;
    padding: 15px 30px
}

.process-section .more-btn a:hover {
    color: #fff
}

.process-style-two {
    position: relative
}

.processing-block-two .inner-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px;
    margin-bottom: 60px
}

.processing-block-two .inner-box .count-text {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 600;
    background: rgba(255, 29, 29, 0.10);
    margin-bottom: 30px;
    z-index: 1;
    transition: all 500ms ease
}

.processing-block:first-child .processing-block-two .inner-box .count-text {
    color: #fff
}

.processing-block-two .inner-box .count-text:before {
    position: absolute;
    content: '';
    width: 76px;
    height: 76px;
    left: -8px;
    top: -8px;
    border-radius: 50%
}

.processing-block-two .inner-box .count-text:after {
    position: absolute;
    content: '';
    width: 364px;
    height: 1px;
    left: 68px;
    top: 29px;
    border-top: 1px dashed rgba(255, 29, 29, 0.30);
    z-index: -1
}

.processing-block:last-child .processing-block-two .inner-box .count-text:after {
    display: none
}

.processing-block-two .inner-box h3 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 15px
}

.processing-block-two .inner-box p {
    text-align: center;
    position: relative;
    color: #6a6a6a;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    transition: all 500ms ease;
}

.rtl .processing-block-two .inner-box .count-text:after {
    left: inherit;
    right: 68px
}

@media only screen and (max-width: 991px) {
    .processing-block-two .inner-box .count-text:after {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    .process-section {
        padding: 70px 0
    }

    .process-style-two {
        padding: 70px 0
    }
}

.processing-block:first-child .processing-block-two .inner-box .count-text:before {
    border-color: #ff1d1d;
}

.processing-block-two .inner-box .count-text {
    color: #ff1d1d;
}

.processing-block:first-child .processing-block-two .inner-box .count-text {
    background: #ff1d1d;
}

.processing-block-two .inner-box .count-text:before {
    position: absolute;
    content: '';
    width: 76px;
    height: 76px;
    left: -8px;
    top: -8px;
    border-radius: 50%;
}

.processing-block-two .inner-box .count-text:before {
    border: 1px solid #ff1d1d;
}

.more-btn {
    text-align: center;
}

.theme-btn.btn-three {
    color: #ff1d1d;
    border: 1px solid #ff1d1d;
}

.theme-btn.btn-three span {
    padding: 12px 30px;
}

.theme-btn span {
    position: relative;
    display: inline-block;
    padding: 18px 38px;
}

.theme-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    transition: all 500ms ease;
}